.main {
    width: 100%;
    height: 100%;
    position: absolute;
    /* padding: 10% 5% 10% 5%; */
    background-color: darkolivegreen;
}
.container {
    width: 80%;
    /* height: 70%; */
    margin: 8% 10% 8% 10%;
    background-color: #003300;
    border: 6px solid #737373;
    border-radius: 20px;
}
.calendar {
    border: 2px solid red;
}
hr {
    color: white;
    width: 100px;
    height: 5px;
    background-color: white;
}