.main {
    width: 100%;
    height: 100%;
    position: absolute;
    /* padding: 10% 5% 10% 5%; */
    background-color: darkolivegreen;
}
.container {
    width: 90%;
    height: 70%;
    margin: 8% 5% 8% 5%;
    background-color: #003300;
    border: 5px solid #737373;
    border-radius: 10px;
}