.main {
    width: 100%;
    height: 100vh;
    position: absolute;
    /* padding: 10% 5% 10% 5%; */
    background-color: darkolivegreen;
}
.container {
    width: 90%;
    height: 70%;
    margin: 10% 5% 10% 5%;
    border: 2px solid red;
}